In [1]:
#Week 1 Assignment 1

Q1.Create one variable containing following type of data:
i.string 
ii.list
iii.float
iv. tuple

In [3]:
#String

In [19]:
a = "Neha is my nickname"

In [20]:
a

'Neha is my nickname'

In [6]:
type(a)

str

In [7]:
#List

In [8]:
l=[1,2,"Neha",4.376,True,4+7j,5,6]

In [9]:
l

[1, 2, 'Neha', 4.376, True, (4+7j), 5, 6]

In [10]:
type(l)

list

In [11]:
#float

In [12]:
f=45.678

In [13]:
f

45.678

In [14]:
type(f)

float

In [15]:
#tuple

In [16]:
t=(1,2,3,4,"Neha",5,6)

In [17]:
t

(1, 2, 3, 4, 'Neha', 5, 6)

In [18]:
type(t)

tuple

Q2. Given are some following variables containing data:
(i)	var1 = ‘ ‘                                     (ii) var2 = ‘[ DS , ML , Python]’
(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]          (iv)	var4 = 1
What will be the data type of the above given variable.

In [21]:
#var1

In [22]:
var1 = ''

In [23]:
var1

''

In [41]:
type(var1)

str

In [ ]:
#type of var1 is string (str)

In [25]:
#var2

In [30]:
var2='[DS,ML,PYTHON]'

In [31]:
var2

'[DS,ML,PYTHON]'

In [32]:
type(var2)

str

In [ ]:
#type of var2 is string (str)

In [33]:
#var3

In [34]:
var3=['DS','ML','Python']

In [35]:
var3

['DS', 'ML', 'Python']

In [36]:
type(var3)

list

In [42]:
#type of var3 is list

In [37]:
#var4

In [38]:
var4=1

In [39]:
var4

1

In [40]:
type(var4)

int

In [43]:
#type of var4 is integer (int)

Q3. Explain the use of the following operators using an example:
i)	/        (ii)	%         (iii)	//     (iv)	**

In [44]:
#i) /

 i) / -> is a division operator 
*Division operator is one of the arithmetic operator, used during mathematical operations.
*It is used when we need to perform division between two numbers. The number written first will be divided by the next number.
Just like p/q or 4/2, so here 4 will be divided by 2.

Example:

In [45]:
47/2

23.5

In [46]:
348/6

58.0

In [47]:
#ii) %

ii) % -> is known as Modulus operator.*Modulus operator is one of the arithmetic operator, used to calculate mathemtical operations.*In modulus operator when the first operand is divided by the second operand  number, the remainder will be the answer.Just like 1%4 = 1
Example:

In [48]:
7%12

7

In [52]:
8%32

8

In [53]:
#iii) //

iii) // -> floor division operator. *Division floor operator is one of the arithmetic operator.*This operator will divide the first argument by the second. *Primarily used when we require an integer or need to return the smallest integer less than or equal to the input. *If the operands are both integers, then the output will an integer.
Example:

In [54]:
5//4

1

In [55]:
48//34

1

In [56]:
#iv)**

iv) ** -> Exponential or Power operator.*Exponential operator is one of the arithmetic operator used to calculate the exponential value.*In simple words we can say that it squares the first operand into the number of times demanded in 2nd operand. Example:

In [57]:
2**4

16

In [59]:
5**5

3125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [1]:
l=[30,26,"Neha","Manpreet",4+7j,89.470,True]

In [18]:
for i in l:
    print(i,type(i))

30 <class 'int'>
26 <class 'int'>
Neha <class 'str'>
Manpreet <class 'str'>
(4+7j) <class 'complex'>
89.47 <class 'float'>
True <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [7]:
a=int(input("Enter the num"))
b=int(input("Enter the num to divide a"))
c=a/b
while a%b==0 :
    print(c)
    break
else:
    print("Not divisible")

Enter the num 100
Enter the num to divide a 3

Not divisible

In [5]:
a=int(input("Enter the num"))
b=int(input("Enter the num to divide a"))
c=a/b
while a%b==0 :
    print(c)
    break
else:
    print("Not divisible")

Enter the num 45
Enter the num to divide a 9

5.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [16]:
l=[2,4,7,15,21,18,35,45,48,64,25,12,9,30,10,68,51,44,56,38,28,55,15,39,43]
l
len(l)
for i in l:
    if(i%3==0):
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible")

2 is not divisible
4 is not divisible
7 is not divisible
15 is divisible by 3
21 is divisible by 3
18 is divisible by 3
35 is not divisible
45 is divisible by 3
48 is divisible by 3
64 is not divisible
25 is not divisible
12 is divisible by 3
9 is divisible by 3
30 is divisible by 3
10 is not divisible
68 is not divisible
51 is divisible by 3
44 is not divisible
56 is not divisible
38 is not divisible
28 is not divisible
55 is not divisible
15 is divisible by 3
39 is divisible by 3
43 is not divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

*Mutable data type:
Mutable objects allow us to change their value or data in place or we can allows to change its index, without affecting the object's identity.
Example: Lists, dictionaries, sets are mutable
*Immutable data type:
Immutable objects does not allow us to change their value or data in place or we can say does not allows to vhange its index.
Example:str, int, float, bool, complex, tuples are immutable.

In [2]:
#Mutable object example:
l=[123,789,"Neha","7+j",True,4.78]
type(l)

list

In [3]:
l[2]

'Neha'

In [7]:
l[3]=78 #change into diff data type

In [8]:
l[3]

78

In [9]:
#Immutable object example

In [10]:
s="pwskills"
s[2]

's'

In [11]:
s[2]="m"

TypeError: 'str' object does not support item assignment