Q1. How do you comment code in Python? What are the different types of comments?

*Comments in Python are identified with a hash symbol, #  and extend to the end of the line.*Makes the code easily understandable.*Helps remember why we used a specific command, method, or function in the code.
There are three types of comments: single-line, multi-line, and docstring comments.
i)Single-line: Single-line comments begin with the “#” character. Anything that is written in a single line after ‘#’ is considered as a comment.
ii)*Multiline comments:Python does not support multi-line comments.The way is by using string literals but not assigning them to any variables. If we do not assign a string literal to a variable, the Python interpreter ignores it.
iii)*Docstring: Python provides an in-built feature called docstrings for commenting on modules, methods, functions, objects, and classes. They are written in the first line after defining a module, function, method, etc. using three quotation marks (“”). If we do not use it in the first line, the interpreter will not take it as a docstring.

Q2. What are variables in Python? How do you declare and assign values to variables?

A variable is a string of characters and numbers associated with a piece of information. A variable is created when some value is assigned to it. 
Declare and assign values to variables:
The value assigned to a variable determines the data type of that variable.Thus, declaring a variable in Python is very simple.
i)Name the variable
ii)Assign the required value to it.
iii)The data type of the variable will be automatically determined from the value assigned, we need not define it explicitly.
The assignment operator, denoted by the “=” symbol, is the operator that is used to assign values to variables in Python.

In [1]:
a=3 #assignment operator is used to assign value and a is the variable, 3 is of type int.

In [2]:
a

3

In [3]:
type(a)

int

Q3. How do you convert one data type to another in Python?

We can convert one data type to another by using predefined functions such as float(), int(), str(), etc. These predefined functions help us to perform Explicit Type conversion and do various operations on different objects.We can not convert int object into string. Example: we can convert complex numbers into real or imaginary numbers and later real numbers and imaginary numbers into float.

In [4]:
a=7+8j

In [5]:
a

(7+8j)

In [7]:
type(a)

complex

In [8]:
a.real

7.0

In [9]:
type(a.real)

float

In [10]:
a.imag

8.0

In [11]:
type(a.imag)

float

Q4. How do you write and execute a Python script from the command line?

How to write a Python script?
There are 2 versions of python: 2x and 3x, we are using the latest one that is 3x for our course. We write scripts usually as an ordinary plain text file and then save it with the extension .py to add python instructions. But we are using Jupyter notebook from pwskills lab to practice the coding, so here we use .ipynb ectension to save a file.Scripts often make use of Python modules, which contain external functions, classes, and variables.The python interpreter lets us write and execute code line by line.

*To execute Python Scripts from the Command Line:
In Python programming, we write programs in plain text files.We write scripts usually as an ordinary plain text file and then save it with the extension .py to add python instructions. But we are using Jupyter notebook from pwskills lab to practice the coding, so here we use .ipynb ectension to save a file. We can also use any Python-friendly code editor or IDE (integrated development environment).

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1,2,3,4,5]

In [4]:
my_list[1:3] #To obtain sub-list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number called “iota”. The value of i = (√-1). For example, 2+3i is a complex number, where 2 is a real number (Re) and 3i is an imaginary number (Im).

*How complex numbers are represented in python:
Complex numbers are nothing but combination of real and imaginary numbers. In python complex is a data type, which is executed only when 'j' is written along with imaginary number, if any alphabet except j is written, then the code will not be executed and we will get an error.

In [5]:
f=5+7j

In [6]:
type(f)

complex

In [7]:
f.real

5.0

In [8]:
f.imag

7.0

In [9]:
c=4+2b #if we use any other alphabet except j

SyntaxError: invalid decimal literal (1553694226.py, line 1)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

A variable name can not be defined by numerics, alpha numeric or special characters. Only alphabets and an underscore before alphabets can be used to define a variable.

In [10]:
age=25

In [11]:
age

25

In [12]:
_age=25

In [13]:
_age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

The variable named price belongs to float data type.

In [14]:
price=9.999

In [15]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [16]:
name="Manpreet Kaur D. Pothiwal"

In [17]:
type(name)

str

In [18]:
name  #to print the value of the variable

'Manpreet Kaur D. Pothiwal'

Q10. Given the string "Hello, World!", extract the substring "World".

In [19]:
s="Hello World!"

In [20]:
type(s)

str

In [24]:
s[6:13]

'World!'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [25]:
is_student=True

In [26]:
type(is_student)

bool

In [27]:
is_student  #indicates currently I am a student.

True